---

- name: learn variable declaration and usage inside playbook
  hosts: all
  become: yes
  vars:
    package: apache2
    user_allowed: true
    
  tasks:
    - name: We are uninstalling {{package}}
      apt:
        name: "{{ package }}"
        state: absent
    - name: Should not present {{package}}
      service: 
        name: apache2
        state: stopped
